@charset "UTF-8";
@font-face{
	font-family : KoPubDotumBold;
	src : url('../webfont/KoPubDotumBold.eot');
	src : url('../webfont/KoPubDotumBold.woff') format('woff');
}
@font-face{
	font-family : KoPubDotumLight;
	src : url('../webfont/KoPubDotumLight.eot');
	src : url('../webfont/KoPubDotumLight.woff') format('woff');
}
@font-face{
	font-family : KoPubDotumMedium;
	src : url('../webfont/KoPubDotumMedium.eot');
	src : url('../webfont/KoPubDotumMedium.woff') format('woff');
}
*{
    margin: 0;  padding: 0;
    box-sizing: border-box;
    /* border: 1px solid purple; */
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.inner{
    width: 1020px;
    margin: 0 auto;
    position: relative;
}
.flexbox1{
    width: 100%; height: auto;
    position: fixed; top: 0; left: 0;
    display: flex; flex-direction: column;
    z-index: 100;
    background: white;
}
.news{
    width: 100%; height: 105px;
    background: url(../images/pp/news_01.jpg) 0 0 no-repeat;
}
.leftlogo{
    background: url(../images/pp/tlog_03.png) 0 0 no-repeat;
    width: 243px; height: 65px;
    display: flex; margin-right: 100px;
    flex-direction: column; justify-content: center;
    position: relative; margin-top: 10px; z-index: 50;
}
.top1{
    width: 1020px; height: 76px;
    margin: 0 auto; align-items: center;
    display: flex; flex-direction: row;
    justify-content: space-between;
}
.bgbox1{
    width: 1020px; height: 60px;
    margin: 0 auto; line-height: 20px;
    align-items: center; display: flex;
    flex-direction: row; margin-top: 15px;
    justify-content: space-between;
}
.call1{
    background: url(../images/pp/callicon_03.png) 0 0 no-repeat;
    width: 598px; height: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.call1 > p:nth-child(1){
    margin-left: 50px; color: white;
    font-family : KoPubDotumMedium;
    font-size: 30px;
}
.call1 > p:nth-child(2){
    color: white; margin-left: 10px;
    font-family : KoPubDotumBold;
    font-size: 40px;
}
.call2{
    background: url(../images/pp/call_03.png) 0 0 no-repeat;
    width: 598px; height: 60px;
    align-items: center;
    display: flex; flex-direction: row;
}
.call2 > p:nth-child(1){
    margin-left: 70px; color: white;
    font-family : KoPubDotumMedium;
    font-size: 27px;
}
.call2 > p:nth-child(2){
    color: white; margin-left: 10px;
    font-family : KoPubDotumBold;
    font-size: 40px;
}
.cbox{
    width: 1020px; display: flex;  flex-direction: row; margin: 0 auto; text-align: right;  justify-content: flex-end; color: white;
    font-family : KoPubDotumMedium; font-size: 18px;
}
.close{
    margin-left: 20px;
}
#lnb{position: relative;}
#lnb nav{display: flex; justify-content: center; align-items: center; position: relative; z-index: 52;}
#lnb nav a{
    text-decoration: none;
}
#lnb nav ul{
    list-style: none;
}
#lnb nav > ul {text-align: center; display: flex; justify-content: center; z-index: 50; position: relative;}
#lnb nav > ul:hover{overflow: visible;}
#lnb nav + div {position: absolute; left: 0; top: 0; width: 100%; height: 0; background: white; z-index: 20; overflow: hidden;}

#lnb nav:hover + div {height: 500px; background: white; transition: height 0.5s;}
/* #lnb .black{ width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.6); position: absolute; z-index: 10; top: 0; left: 0; } */
#lnb nav > ul > li { display: inline-block; position: relative; align-items: center; }

#lnb nav > ul > li > a {
    display: block; width: 130px; height: 75px;
    align-items: center; line-height: 78px;
    font-size: 18px; color: #777777; font-family : KoPubDotumBold;
}
#lnb nav > ul li a::after{ content: ""; position: absolute; left: 50%; bottom: 2px; width: 0; height: 2px; background: #0aa0dd; transition: all 0.5s;}
#lnb nav > ul li:hover > a:after {left: 0; width: 100%;}

#lnb nav > ul ul { overflow: hidden; width: 100%; height: 0; position: absolute; top: 75px; }
#lnb nav > ul:hover ul { height: 500px; transition: all 0.4s;}




#lnb nav > ul ul li{line-height: 40px;}
#lnb nav > ul ul a{color: #535252; position: relative; transition: all 0.2s; font-size: 12px;
}
#lnb nav > ul ul a:hover{ color: #0aa0dd;}
#lnb nav > ul ul a::after{ content: ""; position: absolute; left: 50%; bottom: -5px; width: 0; height: 2px; background: #0aa0dd; transition: all 0.5s;}
#lnb nav > ul ul a:hover:after {left: 0; width: 100%;}
.right1{
    width: 115px; height: 30px;
    font-size: 15px; color: #777777;
    font-family: KoPubDotumBold; margin-left: 100px;
    align-items: center; display: flex;
    flex-direction: row;
    justify-content: space-between; z-index: 50;
}
.flexbox2{
    width: 100%; height: 630px; display: flex;
    flex-direction: column; 
    position: relative; top: 80px;
}
.swibox{
    position: relative;
    align-items: center;
}
.swibox .bluebox{
    background: url(../images/pp/blueback_02.png) right bottom no-repeat;
    width: 100%; height: 250px;
    position: absolute;
    right: 0; bottom: 0;
    z-index: 1;
}
.top .swiper-container{
    width: 100%; height: 630px;
}

.top .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 630px;

    /* Center slide text vertically */
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.top01{
    background: url(../images/pp/realback_02.jpg) 0 0 no-repeat;
}
.top02{
    background: url(../images/pp/rr2_02.jpg) 0 0 no-repeat;
    
}
.top03{
    background: url(../images/pp/back3_02.jpg) 0 0 no-repeat;
    
}
.top .swiper-button-prev::after{
    display: none;
}
.top .swiper-button-next{
    right: 723px; left: 63%;
    top: 43%; opacity: 0.8;
    --swiper-navigation-size: 80px;
    --swiper-navigation-color: white;
}
.top .swiper-pagination-bullet{
    width: 140px;
    height: 5px;
    background: #0aa0dd;
    border-radius: 0;
}
.top .swiper-pagination{
    left: -280px !important;
    top: 67%;
}
.fontbox2{
    width: 1020px;
    height: 770px;
    display: flex;
    flex-direction: row;
    /* justify-content: right; */
    position: relative;
    margin: 0 auto;
}
.box2{
    width: 785px;
    height: 200px;
    margin-top: 193px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: left;
    /* margin: 0 auto; */
}
.box2 > h2{
    font-size: 25px; color: white;
    /* text-shadow: 2px 3px 11px black; */
    font-weight: lighter;
	font-family : KoPubDotumMedium;
    text-align: left;
}
.box2 p:nth-child(2){
    color: white;
    margin-top: 10px;
    /* text-shadow: 2px 3px 11px black; */
	font-family : KoPubDotumMedium;
    font-size: 40px;
    text-align: left;
}
.box2 p:nth-child(3){
    color: white;
    margin-top: 10px;
    /* text-shadow: 2px 3px 11px black; */
	font-family : KoPubDotumMedium;
    font-size: 25px;
    text-align: left;
    
}
.box2 a:last-child{
    color: white; margin-top: 60px;
	font-family : KoPubDotumMedium;
    font-size: 16px; text-align: left; text-decoration: none;
}
.box2 a:last-child:hover{color: #0aa0dd;}
.box2-1{
    width: 785px; height: 200px; margin-top: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: left;
    /* margin: 0 auto; */
}
.box2-1 > h2{
    font-size: 25px; color: white;
    /* text-shadow: 2px 3px 11px black; */
    font-weight: lighter;
	font-family : KoPubDotumMedium; text-align: left;
}
.box2-1 p:nth-child(2){
    color: white;
    margin-top: 10px;
    /* text-shadow: 2px 3px 11px black; */
	font-family : KoPubDotumMedium;
    font-size: 36px;
    text-align: left;
}
.box2-1 p:nth-child(3){
    color: white;
    margin-top: 10px; font-family : KoPubDotumMedium;
    font-size: 20px; text-align: left;
    
}
.box2-1 a{
    color: white; margin-top: 60px; font-family : KoPubDotumMedium;
    font-size: 16px; text-align: left; text-decoration: none;
}
.box2-1 a:hover{color: #0aa0dd;}
.flexbox2-1{
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.fontbox2{
    width: 1020px;
    height: 770px;
    display: flex;
    flex-direction: row;
    /* justify-content: right; */
    position: relative;
    margin: 0 auto;
}
.box2{
    width: 785px;
    height: 200px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: left;
    /* margin: 0 auto; */
}
.box2 > h2{
    font-size: 25px; color: white;
    /* text-shadow: 2px 3px 11px black; */
    font-weight: lighter;
	font-family : KoPubDotumMedium;
    text-align: left;
}
.box2 p:nth-child(2){
    color: white;
    margin-top: 10px;
    /* text-shadow: 2px 3px 11px black; */
	font-family : KoPubDotumMedium;
    font-size: 35px;
    text-align: left;
}
.box2 p:nth-child(3){
    color: white;
    margin-top: 10px;
    /* text-shadow: 2px 3px 11px black; */
	font-family : KoPubDotumMedium;
    font-size: 20px;
    text-align: left;
    
}
.box2 p:nth-child(4){
    color: white;
    margin-top: 60px;
	font-family : KoPubDotumMedium;
    font-size: 20px;
    text-align: left;
}


.flexbox3{
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.bluebox2{
    background: url(../images/pp/blueback_03.png) 0 0 no-repeat;
    width: 100%; height: 440px;
}
.shop{
    width: 1020px; height: 58px;
    color: #535252; font-size: 40px;
    font-family : KoPubDotumMedium;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin: 0 auto;
    position: relative;
}
.bluebox2 > .shop::before{
    background: url(../images/pp/soso_03.png) 0 0 no-repeat;
    width: 139px; height: 54px;
    left: 60%;
    position: absolute;
    content: '';
}

.callbox{
    width: 1020px;
    height: 333px;
    display: flex;
    align-items: center;
    /* background: white; */
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}
.left3{
    width: 598px;
    height: 240px;
    
    /* border-bottom: 8px solid #0aa0dd; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
}
.callfont{
    width: 466px; height: 170px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.callfont2{
    width: 466px; height: 170px;
    margin: 32px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.callfont > h5{
    font-family : KoPubDotumLight;
    color: #a3a3a3; font-weight: lighter;
    font-size: 19px;
    margin-right: 150px;
}
.call{
    background: url(../images/pp/call_03.png) 0 0 no-repeat;
    width: 81px; height: 78px;
    display: flex;
}
.sfont{
    width: 256px; height: 25px;
    font-size: 20px; color: #a3a3a3;
    font-family : KoPubDotumLight;
    position: relative;
}

.sfont2{
    width: 256px; height: 25px;
    font-size: 20px; color: #a3a3a3;
    font-family : KoPubDotumLight;
    position: relative;
}

.bf{
    font-size: 35px;
    font-family : KoPubDotumMedium;
}
.bluefont{
    font-size: 35px; color: #0aa0dd;
    font-family : KoPubDotumMedium;
}
.greenfont{
    font-size: 35px; color: #90c43e;
    font-family : KoPubDotumMedium;
}
.numberbox{
    width: 465px; height: 52px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 5px;
}

.number{
    width: 372px; height: 50px;
    background: white;
    /* margin-right: 40px; */
    border: none;
    font-size: 20px;
}
.number2{
    width: 372px; height: 50px;
    background: white;
    /* margin-right: 40px; */
    border: none;
    font-size: 20px;
}
.button2{
    width: 92px; height: 50px;
    background: #0aa0dd;
    color: white; font-size: 20px;
    font-family: KoPubDotumBold;
    border: none;
}
.button22{
    width: 92px; height: 50px;
    background: #90c43e;
    color: white; font-size: 20px;
    font-family: KoPubDotumBold;
    border: none;
}

.right3{
    width: 598px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
}
/* 아이콘 밑 박스 시작 */
/* 아이콘 밑 박스 시작 */
.flexbox4{
    width: 100%;
    height: 608px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.iconbox{
    width: 1020px;
    height: 150px;
    flex-direction: row;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    margin: 5px auto 0;
}
.icon{
    height: 100px;
}
.imap{
    width: 199px; height: 57px; display: flex; flex-direction: row;
    margin: 0 auto;
}
.map{
     background: url(../images/pp/minilogo_12.png) 0 0 no-repeat;
     align-items: center; width: 151px; height: 56px;
}
.time{
     background: url(../images/pp/minilogo_09.png) 0 0 no-repeat;
     align-items: center; width: 206px; height: 56px;
}
.doct{
     background: url(../images/pp/minilogo_15.png) 0 0 no-repeat;
     align-items: center; width: 151px; height: 56px;
}
.gun{
     background: url(../images/pp/minilogo_17.png) 0 0 no-repeat;
     align-items: center; width: 151px; height: 56px;
}
.ple{
     background: url(../images/pp/icon_03.png) 0 0 no-repeat;
     align-items: center; width: 212px; height: 56px;
}
.plus{
     background: url(../images/pp/icon_05.png) 0 0 no-repeat;
     align-items: center; width: 204px; height: 56px;
}
.note{
     background: url(../images/pp/icon_08.png) 0 0 no-repeat;
     align-items: center; width: 204px; height: 56px;
}
.qa{
     background: url(../images/pp/icon_10.png) 0 0 no-repeat;
     align-items: center; width: 151px; height: 56px;
     
}
.icfont{
    display: flex; flex-direction: column;
    width: 343px; height: 0; 
}
.icfont > p{
    font-size: 20px; text-align: left;
    font-family : KoPubDotumMedium;
    padding-left: 0; 
}
.icfont p:last-child{
    font-family : KoPubDotumLight;
    font-size: 13px; margin-top: 5px; text-align: left;
}
.icon > p{
     font-size: 23px;
     font-family : KoPubDotumMedium;
     padding-left: 60px; 
}
.time > p{
     margin-left: 15px; 
}
.doct > p{
     margin-left: 10px; 
}

.icon p:last-child{
    font-family : KoPubDotumLight;
    font-size: 13px; margin-top: 5px; text-align: left;
}
.icon .swiper-container {
    width: 1020px;
    height: 114px;
}

.icon .swiper-slide {
    width: 261px;
    margin-right: 10px;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox4 .swiper-button-next.icon {
    top: 9px; left: 100%;
    --swiper-navigation-size: 24px;
    --swiper-navigation-color: #777;
}
.flexbox4 .swiper-button-prev.icon {
    top: 9px; left: -15px;
    --swiper-navigation-size: 24px;
    --swiper-navigation-color: #777;
}
.lastback{
    background: url(../images/pp/wback_02.jpg) 0 0 no-repeat;
    width: 100%; height: 426px; margin-top: 80px;
}
.lastbox{
    
    width: 1020px;
    height: 426px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 0 auto 0;
}
.health{
    background: url(../images/pp/Photo_24.jpg) 0 0 no-repeat;
    width: 320px;
    height: 427px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.hfont{
    width: 157px; height: 50px;
    color: white;
    font-size: 35px;
    font-family: KoPubDotumBold;
    margin: 60px auto 0;
}
.testfont{
    width: 157px; height: 50px;
    color: #001c4c;
    font-size: 35px;
    font-family: KoPubDotumBold;
    margin: 60px auto 0;
}
.backbox{
    width: 278px; height: 192px;
    background: white;
    margin: 105px auto 0;
}
.name{
    width: 245px; height: 99px;
    margin: 20px auto 0;
    text-align: left;
}
.name p:nth-child(1){
    font-family : KoPubDotumMedium;
    font-size: 12px;
}
.name p:nth-child(2){
    font-family: KoPubDotumBold;
    font-size: 22px; margin-top: 3px; margin-bottom: 6px;
}
.name p:nth-child(3){
    font-family : KoPubDotumMedium;
    font-size: 14px;
}

.story{
    background: url(../images/pp/Photo_26.jpg) 0 0 no-repeat;
    width: 320px;
    height: 427px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.test{
    background: url(../images/pp/Photo_28.jpg) 0 0 no-repeat;
    width: 320px;
    height: 427px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.testback{
    width: 270px; height: 124px;
    margin: 93px auto 0;
    text-align: left;
}
.testback p:nth-child(1){
    font-family: KoPubDotumBold;
    font-size: 23px; color: #001c4c;
    
}
.testback p:nth-child(2){
    font-family : KoPubDotumLight;
    font-size: 13px; color: #001c4c;
    margin-bottom: 7px; margin-top: 7px;
}
.testback p:nth-child(3){
    font-family : KoPubDotumLight;
    font-size: 13px; color: #001c4c;
}
.btn{
    left: 0;
    bottom: 40px;
    width: 100%; height: 50px;
    padding: 0 40px;
}
.btn a{ text-decoration: none; color: #001c4c;}
.btn a:first-child{
    width: 50%; font-family : KoPubDotumLight;
    height: 50px;
    line-height: 48px;
    float: left;
    text-align: center; border: 1px solid #001c4c;
}
.btn a:last-child{
    width: 50%; font-family : KoPubDotumLight;
    height: 50px;
    line-height: 48px;
    float: left;
    text-align: center; border: 1px solid #001c4c; border-left: none;
}
.btn2{ display: flex; justify-content: center;
    left: 0;
    bottom: 40px;
    width: 80%; height: 29px;
    padding: 0 40px; margin: 20px auto 0; 
}
.btn2 a{ text-decoration: none; color: #777;}
.btn2 a:nth-child(1){
    width: 20%; font-family : KoPubDotumLight;
    line-height: 26px;
    float: left; font-size: 30px;
    border: 1px solid #777;
}
.btn2 a:nth-child(2){
    width: 20%; font-family : KoPubDotumLight;
    line-height: 26px; font-size: 30px;
    float: left;
    text-align: center; border: 1px solid #777; border-left: none;
}
.btn2 a:last-child{
    width: 20%; font-family : KoPubDotumLight;
    line-height: 26px; font-size: 25px;
    float: left; padding-top: 2px;
    text-align: center; border: 1px solid #777; border-left: none;
}




/* 의료진 소개 박스 */
/* 의료진 소개 박스 */
.flexbox5{
    width: 100%;
    height: 597px;
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.top5{
    width: 1020px; height: 154px;
    margin: 0 auto;
}
.top5 > h1{
    position: relative;
    font-size: 120px;
    font-family: KoPubDotumBold;
    color: #0aa0dd;
}
.top5 > h1::before{
    width: 500px; height: 2px;
    background: #0aa0dd;
    position: absolute;
    content: '';
    bottom: 27px; left: -486px;
}
.sf{
    font-size: 57px;
    color: #0aa0dd;
    font-family: KoPubDotumBold;
}
.top5 > p{
    font-size: 18px;
    font-family : KoPubDotumLight;
    color: #0aa0dd;
}
.doct5{
    width: 100%; height: 350px;
    background: #effaff; margin-top: 50px;
}
.box5{
    width: 1020px; height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
}
.doc.swiper-container{
    width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.doc .swiper-pagination{
    bottom: 3px;
}
.doc .swiper-button-next{
    right: 344px;
    left: auto;
    top: 39%;
}
.doc .swiper-button-prev{
    right: 78%;
    left: auto;
    top: 39%;
}
.left5{
    width: 365px;
    height: 345px;
    text-align: center;
    align-items: center;
}
.left5 > p{
    font-size: 30px;
    font-family: KoPubDotumBold;
    color: #002f48;
    margin-top: 30px;
}
.icon5{
    background: url(../images/pp/zan_03.png) 0 0 no-repeat;
    width: 92px; height: 71px;
    margin: 61px auto 0;
    background-size: cover;
}
.icon6{
    background: url(../images/pp/brain_03.png) 0 0 no-repeat;
    width: 66px; height: 71px;
    margin: 61px auto 0;
    background-size: cover;
}
.btn4{
    left: 0;
    bottom: 40px;
    width: 100%; height: 50px;
    padding: 0 40px; margin-top: 30px;
}
.btn4 a{ text-decoration: none; color: #001c4c;}
.btn4 a:first-child{
    width: 50%; font-family : KoPubDotumLight;
    height: 50px;
    line-height: 48px;
    float: left;
    text-align: center; border: 1px solid #001c4c;
}
.btn4 a:last-child{
    width: 50%; font-family : KoPubDotumLight;
    height: 50px;
    line-height: 48px;
    float: left;
    text-align: center; border: 1px solid #001c4c; border-left: none;
}
.center5{
    width: 320px;
    height: 365px;
    align-items: center;
}
.cp5{
    font-size: 20px; color: black;
    font-family : KoPubDotumLight;
}
.center5 > p:nth-child(1){
    font-size: 39px; color: #0aa0dd;
    font-family: KoPubDotumBold;
    margin-top: 52px;
}
.center5 > p:nth-child(2){
    font-size: 20px;
    font-family : KoPubDotumLight;
    margin-top: 30px;
}
.center5 > p:nth-child(3){
    font-size: 17px;
    font-family : KoPubDotumLight;
    margin-top: 50px;
}

.right5{
    background: url(../images/pp/doctor_34.png) 0 0 no-repeat;
    width: 341px;
    height: 350px;
    background-size: cover;
}
.rightd6{
    background: url(../images/pp/doctor2_03.png) 0 0 no-repeat;
    width: 341px;
    height: 350px;
    background-size: cover;
}

/* 프로페셔널 박스 */
/* 프로페셔널 박스 */

.flexbox6{
    background: url(../images/pp/pro_02.jpg) 0 0 no-repeat;
    width: 100%;
    height: 950px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.top6{
    width: 1020px; height: 154px;
    margin: 126px auto 0;
}

.top6 > h1{
    font-size: 120px;
    font-family: KoPubDotumBold;
    color: white;
    position: relative;
}
.top6 > h1::before{
    width: 500px; height: 2px;
    background: white;
    position: absolute;
    bottom: 27px; left: -482px;
    content: '';
}
.top6 > p{
    font-size: 21px;
    font-family : KoPubDotumLight;
    color: white;
}
.sf2{
    font-size: 57px;
    color: white;
    font-family: KoPubDotumBold;
}
/* 병원센터 백그라운드 */

/* 센터바로가기박스 */
.proback{
    width: 1020px;
    height: 582px; margin: 0 auto;
    position: relative;
}
/* .proback::before{
    position: absolute; content: ''; z-index: 10;
    opacity: 0.5; 
    width: 510px; height: 507px; background: linear-gradient(to right, transparent 20%, black 20%);
    bottom: 0px; left: 51%;  
} */


.boxback{
    width: 492px; height: 581px;
    margin: 0 auto;
}
.boxback{
    width: 492px; height: 619px;
    margin: 0 auto;
}
.right6{
    width: 514px; height: 560px;
    text-align: left; margin-top: 44px;
    overflow: hidden;
}
.font6{
    width: 415px; height: 436px;
    margin-top: 108px;
    color: white; text-align: left;
    align-items: flex-start; display: flex;
    flex-direction: column;
}
.font6 > span:nth-child(1){
    font-family: KoPubDotumBold;
    font-size: 28px;
}
.font6 > span:nth-child(2){
    font-family: KoPubDotumBold;
    font-size: 50px;
    margin-top: 15px;
    position: relative;
}
.font6 > span:nth-child(2)::before{
    width: 300px; height: 2px; background: white;
    position: absolute; bottom: 5.5px; left: 97%; content: '';
}
.font6 > span:nth-child(3){
    font-family : KoPubDotumMedium;
    font-size: 25px;
    margin-top: 15px;
}

.font6 > p{
    font-family : KoPubDotumMedium;
    font-size: 15px;
    margin-top: 40px;
    line-height: 1.7rem;
}
.btn3{
    left: 0;
    bottom: 40px; margin-top: 7px;
    width: 16%; height: 50px; border-top: 1px solid white;
}
.btn3 a{ text-decoration: none; color: white; position: relative;}
.btn3 > a:hover{color: #0aa0dd;}
.btn3 > a::after{ content: ""; position: absolute; left: 50%; bottom: -5px; width: 0; height: 2px; background: #0aa0dd; transition: all 0.5s;}
.btn3 a:first-child{
    width: 50%; font-family: KoPubDotumBold;
    height: 50px;
    line-height: 48px;
    text-align: center;
}


/* 공지사항 섹션 시작 */
/* 공지사항 섹션 시작 */
.flexbox7{
    background: url(../images/pp/ptb2_02.jpg) 0 0 no-repeat;
    width: 100%;
    height: 695px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.box7{
    width: 1020px; height: 695px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}
.left7{
    width: 598px; height: 695px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}
.bgbox{
    width: 570px; height: 294px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}
.bgbox2{
    width: 570px; height: 282px;
    margin-top: 115px;

}
.btn5{
    left: 0;
    bottom: 40px;
    width: 100%; height: 139px;
}
.btn5 a{ text-decoration: none; color: #001c4c;}
.btn5 a:first-child{
    width: 50%; font-family : KoPubDotumLight;
    height: 139px;
    line-height: 48px;
    float: left; border-left: none; border-bottom: none;
    text-align: center; border: 2px solid #c9c9c9;
}
.btn5 a:last-child{
    width: 50%; font-family : KoPubDotumLight;
    height: 139px;
    line-height: 48px;
    float: left;
    text-align: center; border: 2px solid #c9c9c9; border-left: none;
}
.btn55{
    left: 0;
    bottom: 40px;
    width: 100%; height: 139px;
}
.btn55 a{ text-decoration: none; color: #001c4c;}
.btn55 a:first-child{
    width: 50%; font-family : KoPubDotumLight;
    height: 139px;
    line-height: 48px;
    float: left; border-left: none; border-bottom: none;
    text-align: center; border: 2px solid #c9c9c9; border-top: none;
}
.btn55 a:last-child{
    width: 50%; font-family : KoPubDotumLight;
    height: 139px;
    line-height: 48px;
    float: left;
    text-align: center; border: 2px solid #c9c9c9; border-left: none; border-top: none;
}
.fbox7{
    display: flex; flex-direction: row; margin: 44px auto 0; align-items: center;
}
.if{
    width: 57px; height: 50px; display: flex; flex-direction: row;
}
.a{background: url(../images/pp/smalllogo_40.png) 0 0 no-repeat; background-size: cover;
    width: 68px; height: 60px; margin-left: 60px;
}
.b{background: url(../images/pp/pel_16.png) 0 0 no-repeat; background-size: cover;
    width: 88px; height: 61px; margin-left: 60px;
}
.c{background: url(../images/pp/newi_19.png) 0 0 no-repeat; background-size: cover;
    width: 79px; height: 48px; margin-left: 60px;
}
.d{background: url(../images/pp/newi_22.png) 0 0 no-repeat; background-size: cover;
    width: 66px; height: 52px; margin-left: 60px;
}
.if2{
    font-size: 22px; font-family : KoPubDotumLight; color: black; margin-left: 10px; margin-top: 5px;
}
.a:hover{
    background: url(../images/pp/bicon_05.png) 0 0 no-repeat;
    background-size: cover;
    width: 67px; height: 59px; margin-left: 60px;
}
.b:hover{
    background: url(../images/pp/bicon_03.png) 0 0 no-repeat;
    background-size: cover;
    width: 88px; height: 61px; margin-left: 60px;
}
.c:hover{
    background: url(../images/pp/last_07.png) 0 0 no-repeat;
    background-size: cover;
    width: 79px; height: 48px; margin-left: 60px;
}
.d:hover{
    background: url(../images/pp/iiii_14.png) 0 0 no-repeat;
    background-size: cover;
    width: 66px; height: 52px; margin-left: 60px;
}
/* 채용정보 */
/* 채용정보 */
.right7{
    width: 369px; height: 695px;
    background: #0080b4;
    display: flex;
    flex-direction: column;
    position: relative;
}
.font77 > h2{
    font-size: 33px; font-weight: lighter;
    font-family : KoPubDotumMedium;
}

.checkbox{
    width: 277px; height: 308px; border-right: 1px solid #777777;
    display: flex;
    flex-direction: column;
    position: relative;
}
.checkbox2{
    width: 277px; height: 308px;
    display: flex;
    flex-direction: column;
    position: relative;
}


.font7{
    width: 269px;
    font-family: KoPubDotumBold;
    font-size: 30px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}
.font7 a{
    text-decoration: none; color: black;
}
.font77{
    width: 269px; color: white;
    font-family : KoPubDotumMedium; font-size: 30px;
    margin: 40px auto 293px;
    display: flex; flex-direction: row;
    position: relative;
    justify-content: space-between;
}
.ckbox{
    width: 100%; height: 82px; color: white;
    border-top: 2px solid white; font-size: 22px; align-items: center;
    font-family : KoPubDotumMedium;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}
.ckbox > p{
    margin-left: 30px;
}
.ckbox > a{
    color: white; font-family : KoPubDotumMedium;text-decoration: none;
    margin-left: 20px;
}
.ckbox a:hover{font-size: 23px;}
.ckbox > a:last-child{
    color: white; font-family : KoPubDotumMedium; margin-right: 30px; text-decoration: none;
}
.ckbox > a:last-child:hover{font-size: 28px;}
.flexbox8{
    background: url(../images/pp/this_02.jpg) 0 0 no-repeat;
    width: 100%;
    height: 250px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.font8{
    width: 1020px; height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.font8 > h2{
    font-size: 30px; color: white;
    font-family : KoPubDotumLight;
    margin-bottom: 20px; margin-top: 70px;
}
.font8 > p:last-child{
    font-size: 20px; color: white;
    font-family : KoPubDotumLight;
    margin-bottom: 20px;
}
.flexbox9{
    width: 100%;
    height: 187px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.box9{
    width: 1020px;
    height: 187px;
    margin: 0 auto;
}
.font9{
    width: 100%; height: 18px; font-family: KoPubDotumBold; font-size: 12px; margin-top: 50px;
    align-items: center;
    color: #777;
    display: flex; flex-direction: row;
    justify-content: space-between;
}
.font9 > span{
    color: #0080b4;
}
.font99{
    width: 482px; height: 18px; font-family: KoPubDotumBold; font-size: 12px; margin-top: 20px;
    align-items: center;
    color: #777;
    display: flex; flex-direction: row;
    justify-content: space-between;
}
.font999{
    width: 500px; height: 18px; font-family: KoPubDotumBold; font-size: 12px; margin-top: 20px;
    align-items: center;
    color: #777;
    display: flex; flex-direction: row;
    justify-content: space-between;
}

.face{
    float: right;
    height: 45px;
    vertical-align: top;
}
.bottom .swiper-container {
    width: 100%;
    height: 736px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.bottom .element.style {
    width: 686px; margin-right: 30px;
}

/* 센터 박스 돌아가는 서식 */
/* 센터 박스 돌아가는 서식 */
.bottom .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide.sec01{
    width: 100%;
    height: 532px;
    margin: 50px auto 0;
}
.swiper-slide.sec02{
    width: 100%;
    height: 532px;
    margin: 50px auto 0; }
.swiper-slide.sec03{
width: 100%;
height: 532px;
margin: 50px auto 0;
}
.swiper-slide.sec04{
width: 100%;
height: 532px;
margin: 50px auto 0;
}
.swiper-slide.sec05{
width: 100%;
height: 532px;
margin: 50px auto 0;
}
.bottom .swiper-slide{
    transform: scale(0.6);
    transition: all 0.3s; opacity: 0.5;
}
.bottom .swiper-slide.swiper-slide-active{
    transform: scale(1); width: 503px;
    transition: all 0.3s; opacity: 1;
}

.bottom .swiper-button-prev > :root{
    --swiper-navigation-size: 15px;
}
.bottom .swiper-button-prev{
    left: 1%;
    top: 130px;
    --swiper-navigation-size: 15px;
    --swiper-navigation-color: white;
}
.bottom .swiper-button-next{
    left: 4%;
    top: 130px;
    --swiper-navigation-size: 15px;
    --swiper-navigation-color: white;
}
.bottom .swiper-button-prev > :root{
    --swiper-navigation-size: 23px;
    --swiper-navigation-color: white;
}
.bottom .swiper-pagination{
    left: -373px !important;
    top: 117px; height: 20px;
}
.bottom .swiper-pagination-bullet{
    left: -224px !important;
    top: 10%;
    background: oldlace;
}
.quickmenu {
    background: url(../images/pp/grback_03.jpg) 80% no-repeat;
    position: fixed; top: 428px; right: 100px; z-index: 200;
    display: flex;flex-direction: column; align-items: flex-end; border-radius: 50px 45px 45px 0;
}
.quickmenu > div {
    width: 83px; height: 100px;
    background-color: #0aa0dd; font-size: 13px;
    color: white; text-align: center; display: flex;
    flex-direction: column; justify-content: center;
    border-radius: 45px 45px 0 0;
}
.quickmenu > a {
    width: 64px; height: 50px; line-height: 48px;
    text-align: center; font-size: 13px;
    color: white; font-family : KoPubDotumMedium;
    transition: all 1s; border-top: 1px solid white;
    text-decoration: none; margin: 0 10px;
}
.quickmenu2 {
    background: url(../images/pp/grback_03.jpg) 50% no-repeat;
    position: fixed; top: 798px; right: 100px; z-index: 200;
    display: flex;flex-direction: column; align-items: flex-end; border-radius: 50px 45px 45px 0;
}

.quickmenu2 > a {
    width: 60px; height: 30px; line-height: 25px;
    text-align: center; font-size: 16px;
    color: white; font-family : KoPubDotumMedium;
    transition: all 1s;
    text-decoration: none; margin: 0 10px;
}
